@mixin flex($hov:space-between, $col:center) {
    display: flex;
    justify-content: $hov;
    align-items: $col;
}

@mixin bgImg($img:'', $w:0, $h:0,$s:contain) {
    display: inline-block;
    background: url($img) no-repeat center;
    background-size: $s;
    width: $w;
    height: $h;
    
}